In [1]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix, precision_recall_curve, average_precision_score, f1_score,accuracy_score,log_loss
from sklearn.preprocessing import label_binarize
from itertools import cycle
import logging
import pandas as pd
from typing import Tuple 
from torch import nn
import torch
from torch.utils.data import Dataset
from sklearn.model_selection import train_test_split
from nltk import download
from nltk.corpus import wordnet as wn
import random
from typing import List, Set
from torch import cuda
from transformers import DistilBertTokenizer, DistilBertModel 




ROUTE_CSV_TRUNCATED_TO_3= '../src/data/DF_NAICS_BINARIZED_BUENO_3.csv' 
df_naics_3_digits=pd.read_csv(ROUTE_CSV_TRUNCATED_TO_3)
print(df_naics_3_digits.head())
column_names = df_naics_3_digits.columns
print("Nombres de las columnas en df_naics_3_digits:")
for name in column_names:
    print(name)
    
two_digit_columns = [col for col in df_naics_3_digits.columns if col.isdigit() and len(col) == 2]

df_naics_3_digits.drop(two_digit_columns, axis=1, inplace=True)

column_names = df_naics_3_digits.columns
print("Nombres de las columnas en df_naics_3_digits:")
for name in column_names:
    print(name)
print(df_naics_3_digits.shape[1])

/home/edu/.cache/pypoetry/virtualenvs/zrive-ds-J_lydEot-py3.11/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

                                BUSINESS_DESCRIPTION  11  111  112  113  114  \
0  License Herbicide, Grass Mowing, Fence Install...   0    0    0    0    0
1  Commercial and military professional aircraft ...   0    0    0    0    0
2  CRL-Lovelady Construction, LLC, provides Gener...   0    0    0    0    0
3  Summerlin Brothers, Inc. established 1996 has ...   0    0    0    0    0
4  Design Build HVAC / General Construction. Faci...   0    0    0    0    0

   115  21  211  212  ...  811  812  813  92  921  922  923  924  925  926
0    1   0    0    0  ...    0    0    0   0    0    0    0    0    0    0
1    0   0    0    0  ...    0    0    0   0    0    0    0    0    0    0
2    0   0    0    0  ...    0    0    0   0    0    0    0    0    0    0
3    0   0    0    0  ...    0    0    0   0    0    0    0    0    0    0
4    0   0    0    0  ...    0    1    0   0    0    0    0    0    0    0

[5 rows x 110 columns]
Nombres de las columnas en df_naics_3_digits:
BUSINESS_DESCRIPTION
11
111
112
113
114
115
21
211
212
213
22
221
236
237
238
31
311
312
313
314
315
316
32
321
322
323
324
325
326
327
33
331
332
333
334
335
336
337
339
423
424
425
44
441
444
445
448
449
453
454
455
456
457
458
459
48
481
482
483
484
485
486
487
488
49
491
492
493
511
512
513
515
516
517
518
519
52
522
523
524
525
531
532
533
541
55
551
561
562
611
621
622
623
624
711
712
713
721
722
811
812
813
92
921
922
923
924
925
926
Nombres de las columnas en df_naics_3_digits:
BUSINESS_DESCRIPTION
111
112
113
114
115
211
212
213
221
236
237
238
311
312
313
314
315
316
321
322
323
324
325
326
327
331
332
333
334
335
336
337
339
423
424
425
441
444
445
448
449
453
454
455
456
457
458
459
481
482
483
484
485
486
487
488
491
492
493
511
512
513
515
516
517
518
519
522
523
524
525
531
532
533
541
551
561
562
611
621
622
623
624
711
712
713
721
722
811
812
813
921
922
923
924
925
926
98

In [8]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.colheader_justify', 'center')
pd.set_option('display.precision', 3)

# Calcular el nÃºmero de '1's en cada columna
count_of_ones = df_naics_3_digits.apply(lambda x: (x == 1).sum())

# Imprimir el nÃºmero de '1's por columna
print("NÃºmero de '1's por columna en df_naics_3_digits:")
print(count_of_ones)

NÃºmero de '1's por columna en df_naics_3_digits:
BUSINESS_DESCRIPTION        0
111                        98
112                        61
113                       228
114                        27
115                       814
211                         7
212                       252
213                       240
221                       690
236                      2970
237                      2461
238                      5447
311                       256
312                        59
313                        96
314                       266
315                       255
316                        60
321                       309
322                       175
323                       337
324                       132
325                       602
326                       457
327                       240
331                       223
332                      1991
333                      1313
334                      1410
335                       653
336                      1106
337                       433
339                      1234
423                      2798
424                       927
425                       150
441                       112
444                       157
445                        55
448                         1
449                       130
453                        27
454                        13
455                        30
456                       106
457                        35
458                       103
459                       225
481                       122
482                        12
483                        89
484                       933
485                       267
486                        24
487                        42
488                       818
491                        36
492                       213
493                       375
511                        10
512                       342
513                       290
515                         2
516                        48
517                       271
518                       504
519                       151
522                        54
523                        97
524                       168
525                        39
531                       858
532                       652
533                         2
541                     10748
551                        23
561                      4851
562                      1632
611                      2647
621                       846
622                       145
623                       125
624                       917
711                       510
712                       122
713                       172
721                       271
722                       500
811                      1060
812                       689
813                       419
921                         7
922                         5
923                        13
924                         1
925                         3
926                         1
dtype: int64